/*bentar sabar*/
/*start my style*/


body{
	background: black;
	align-items: center;
	justify-content: center;
}

.ngantuk {
	color: red; 
}

.jancok {
	font-size: 28px;
	color: red;
}

.ajng{
	font-size: 27px;
	color: red;
}